<h1>welcome to metals</h1>

<div class="">
  <%=@metals.each do |metal|%>
  <h2>Title: <%= metal.title %></h2>
  <p>Price: <%= metal.price %></p>
  <%end%>
  <%= link_to "New", "metals/new" %>

</div>
