

<h1>welcome to metals</h1>



<form class="" action="/metals/new/<%=@metals.length%>" method="post">
  <label for="">Metals Id</label>
  <input type="text" name="id" value="<%=@id%>">
<br>
  <label for="">Metals Title</label>
  <input type="text" name="title" value="<%=@title%>">
<br>
  <label for="">Metals Body</label>
  <input type="text" name="price" value="<%=@price%>">
<br>
  <input  type="submit" name="submit" value="submit">


</form>
